
  <div  [class]="isLoading 
      ? 'login-container-disabled' 
      : 'login-container-active'">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <h2>Connexion</h2>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName = "email" 
          type="email"
          id="email"
          name="email"
        />
         @if (isFieldInvalid('email')) {
        <div class="mt-1 text-sm text-red-600">
          <!-- {{ }} interpolation - affiche le résultat de getFieldError('email') -->
          <!-- Cette méthode TS retourne le message d'erreur approprié -->
          {{ getFieldError('email') }}
        </div>
        }
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          formControlName = "password"
          type="password"
          id="password"
          name="password"
        />
         @if (isFieldInvalid('password')) {
        <div class="mt-1 text-sm text-red-600">
          <!-- {{ }} interpolation - affiche le résultat de getFieldError('email') -->
          <!-- Cette méthode TS retourne le message d'erreur approprié -->
          {{ getFieldError('password') }}
        </div>
        }
      </div>

      <button type="submit" [disabled]="isLoading" [class]="isLoading 
      ? 'disabled-button' 
      : 'active-button'">Se connecter</button>
    </form>
  </div>
